{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 text-center">
      <h1 class="display-4 mb-4">Sobre o Blog</h1>
      <p class="lead">Bem-vindo à nossa página sobre! Aqui você pode aprender mais sobre o nosso projeto, as funcionalidades oferecidas e as tecnologias utilizadas.</p>
      
      <h3 class="mt-4">O que é este blog?</h3>
      <p>Este blog foi criado como uma plataforma simples e intuitiva, onde os usuários podem compartilhar seus pensamentos, artigos e ideias sobre diversos temas. Nosso objetivo é oferecer um espaço aberto para discussões, aprendizado e troca de conhecimentos, proporcionando uma experiência de leitura envolvente e agradável.</p>
      
      <h3 class="mt-4">Funcionalidades principais</h3>
      <p>O blog foi projetado para ser fácil de usar, com as seguintes funcionalidades:</p>
      <ul class="list-group">
        <li class="list-group-item">💬 **Criação de posts** com título e conteúdo de forma simples.</li>
        <li class="list-group-item">✏️ **Edição e exclusão de posts** criados pelo usuário.</li>
        <li class="list-group-item">👀 **Visualização dos posts** de outros usuários para troca de ideias.</li>
      </ul>
      
      <h3 class="mt-4">Sobre os Desenvolvedores</h3>
      <p>Este blog foi desenvolvido como parte de um projeto acadêmico da matéria de Tópicos Especiais. O objetivo principal foi criar um sistema funcional de blog com foco no aprendizado prático.</p>
      <ul class="list-group">
        <li class="list-group-item"><strong>Fernando Fraga</strong> - Desenvolvedor Backend | <small>Responsável pelo desenvolvimento do sistema backend, criação das APIs e integração com o banco de dados.</small></li>
      </ul>
      
      <h3 class="mt-4">Tecnologias Utilizadas</h3>
      <p>O projeto foi construído utilizando tecnologias modernas e poderosas, para garantir uma experiência eficiente e agradável:</p>
      <ul class="list-group">
        <li class="list-group-item">🐍 **Flask** (Python) - Framework para desenvolvimento web rápido e leve.</li>
        <li class="list-group-item">📦 **SQLAlchemy** - ORM para facilitar a interação com o banco de dados.</li>
        <li class="list-group-item">🎨 **Bootstrap** - Framework front-end para criar uma interface bonita e responsiva.</li>
        <li class="list-group-item">🗃 **SQLite** - Banco de dados leve e fácil de configurar, ideal para projetos pequenos e médios.</li>
      </ul>

      <h3 class="mt-4">Contribua com o projeto</h3>
      <p>Se você gostou deste projeto ou tem sugestões de melhorias, sinta-se à vontade para contribuir! O código-fonte está disponível no nosso repositório no GitHub, e estamos sempre abertos a novas ideias e melhorias.</p>
      <a href="https://github.com/fernando-fraga/blog_crud_bd_py" class="btn btn-primary">Acesse o GitHub</a>
    </div>
  </div>
{% endblock %}
