{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 text-center">
      <h1>Sobre o Blog</h1>
      <p>Bem-vindo à página sobre do nosso blog! Aqui, você pode saber mais sobre nosso projeto e como ele funciona.</p>
      
      <h3>O que é este blog?</h3>
      <p>Este blog foi criado para ser uma plataforma simples onde usuários podem compartilhar suas ideias, artigos e pensamentos sobre diversos assuntos. Nosso objetivo é oferecer um espaço para discussões e conteúdos interessantes em um ambiente amigável e acessível.</p>
      
      <h3>Funcionalidades</h3>
      <ul class="list-group">
        <li class="list-group-item">Criação de posts com título e conteúdo.</li>
        <li class="list-group-item">Edição e exclusão de posts próprios.</li>
        <li class="list-group-item">Visualização dos posts de outros usuários.</li>
      </ul>
      
      <h3>Sobre os Desenvolvedores</h3>
      <p>O blog foi desenvolvido para matéria de Tópicos Especiais como uma forma de aprendizado..</p>
      <ul class="list-group">
        <li class="list-group-item"><strong>Fernando Fraga</strong> - Desenvolvedor Backend.</li>
      </ul>
      
      <h3>Tecnologias Utilizadas</h3>
      <ul class="list-group">
        <li class="list-group-item">Flask (Python)</li>
        <li class="list-group-item">SQLAlchemy (ORM)</li>
        <li class="list-group-item">Bootstrap (Front-end)</li>
        <li class="list-group-item">SQLite (Banco de Dados)</li>
      </ul>
    </div>
  </div>
{% endblock %}
